html{
    background-color: peachpuff;
    }
.general-title{
    font-size: 64px;
    font-weight: 700;
    width: fit-content;
    color: gold;
    border: 8px solid red;
    background-color: black;
    padding: 15px;
    margin: 0 auto;
    border-radius: 10px;
}
.images{
    display: flex;
    justify-content: space-around;
}
img{
    border-radius: 15px;
    width: 250px;
    height: 250px;
    border: 4px solid brown;
    margin-top: 50px;
    background-color: gold;
    padding: 12px;
}
img:hover{
    background-color: rgb(248, 77, 9);
    border: 4px solid rebeccapurple;
}
.pages{
    display: flex;
    justify-content: space-around;
}
.name{
    border-radius: 4px;
    border: 2px solid purple;
    padding: 8px;
    background-color: burlywood;
    text-align: center;
    font-size: 24px;
    border-top: 5px solid purple;
    width: fit-content;
}
.name:hover{
    background-color: blanchedalmond;
    color: black;
    border-top: 3px solid brown;

}
.ingredients,
li{
    margin-bottom: 1em;
    font-size: 32px;
    width: 1200px;
}
.name,
.end{
    margin: auto;
    font-size: 36px;    
}
.title{
   font-size: 36px;
   font-weight: 700;
   color: black 
}